iframe{
    width: 100%;
    min-width: 576;
    height: 25%;    
}

.nav-link,.dropdown-item,.dropdown-toggle{
    color: darkgrey !important;
}

.nav-link:hover,.dropdown-toggle:hover{
    color: white !important;
}

.dropdown-item:hover{
    color: darkslategray !important;
}
h1{
    text-align: center;
}
.title{
    background-color: #0952ca;
}

.navbar.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}